.App {
    max-width: 500px;
    margin: 60px auto;
}

.App footer {
    text-align: center;
    font-size: 11px;
    margin: 20px 0;
}

.App footer a {
    display: inline-block;
    position: relative;
    color: rgb(190, 73, 135);
    text-decoration: none;
    transition: .3s;
}

.App footer a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(190, 73, 135);
    transition: .3s;
    transform: translateX(-50%);

}
.App footer a:hover::after {
    width: 100%;
}

