.WeatherForecast {
    text-align: center;
    margin: 60px 0  10px 0;
    padding-bottom: 50px;
  }
  

  
  .WeatherForecast .forecast-temperature-min {
    margin-left: 10px;
    opacity: 0.6;
  }
  
  .Weather .WeatherForecast canvas {
    display: block;
    margin: 20px auto;
  }
  