.Weather {
    font-family: arial, sans-serif;
    border: 1px solid #dadde1;
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
    padding: 16px; 
    border-radius: 4px;
    color: rgb(148, 120, 136);
    background: rgba(247, 225, 233, 0.739);
}

.Weather .btn {
  background: #f986d7;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .btn:hover {
  background: #f65ec8;

}
.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

  .Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
  }

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
   font-size: 16px;
   font-weight: 100;
   line-height: 19px;
   list-style: none;
}

.Weather canvas {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
   
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
  }

.Weather .unit {
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    position: relative;
    top: -34px;
    line-height: 1;
}